@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600&display=swap");

body{
  padding: 0;
  margin: 0;
  height: 100%;
  
}
*{
  font-family: "Inter";
}

body,
html {
  scroll-behavior: smooth;
}

/* HEADER */

.bg1Wrapper {
   overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} 

.vector_bodybackground1 {
  width: 47%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translate(150%, 0px);
  z-index: -1;
}

.vector_bodybackground2 {
  position: absolute;
  width: 70%;
  height: 100%;
  bottom: -85em;
  right: 40rem;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
}

.hero-img {
  width: 43rem;
  height: 37rem;
  margin: 0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

li a {
  text-decoration: none;
  margin-left: 30px;
  color: #000;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

li a:hover{
  color: #FFCC49;
}

/* Hero Section */

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0 5% ;
}

.hero-content {
  text-align: left;
}

.hero h1 {
  color: #000000;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  margin-top: 7rem;
}

.hero-content p {
  color: #212121;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  user-select: none;
}

.hero-content p span{
  border-bottom: 2px solid orange;
}

.googleplay {
  margin-top: 18px;
  width: 10rem;
}

.banner {
  margin-top: 10%;
  margin-bottom: 10%;
}

.banner__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 5% 5%;
}

.banner_info_img_1{
  width: 20rem;
}

.banner h3 {
  margin-bottom: 30px; 
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  font-size: 28px;
  color: #000;
}

.log-2{
  color: #00FFFF;
}

.log-3{
  color: #FFCC49;
}

h3 span {
  color: hsl(43, 100%, 68%);
}

.banner-content {
  max-width: 500px; 
  padding: 0% 8%;
  text-align: left;
}

.banner-content h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  color: #000;
}

.banner-content small {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  color: #8a8a8a;
}

/* for charts and side bar beside the chart */

.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.charts h1 {
  margin-left: 10%;
  font-weight: bolder;
  font-size: 40px;
  color: #000000;
  max-width: 20rem;
}

.charts__img1-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
}

.charts__img1-2 .img1 {
  width: 50%;
  height: 200%;
}

.charts__img1-2 .img2 {
  height: 150%;
  width: 40%;
  margin: 5%;
}

.charts .img3 {
  height: 100% ;
  width: 80%;
  margin-left:16%;
}

.chart-sidebar {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-top: 60px;
}

.side-content {
  display: flex;
  flex-direction: column;
}

.content1,
.content2,
.content3 {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.chart-sidebar h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 44px;
  color: #000000;
  text-transform: capitalize;
}

.chart-sidebar .mainHeader{
  font-size: 160%;
  line-height: 26px;

}

.content__info {
  margin-left: 20px;
  margin-top: -15px;
}

.content__info p {
  margin-top: -7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #8a8a8a;
}

/* scanner advert */

.scanner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  width: 100%;
}

.scanner-content {
  display: flex;
  flex-direction: column;
  margin: 0 5%; 
}

.scanner-content h1 {
  font-family: Inter;
  color: #000000;
}

.scanner-content small {
  font-family: Inter;
  font-style: normal;
  color: #8a8a8a;
}

.scanner-gggleplaystore {
  margin-top: 5%;
  width: 10rem;
}

.scanner-img {
  width: 70%;
  height: auto;
}

/* FAQ section */

.faqSection {
  margin-top: 5rem;
}

.faqSection h5 {
  text-align: center;
  color: #ffcc49;
  text-transform: capitalize;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

.faq_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 5% 9%;
}

.faqcontainer_item {
  width: 100%;
  border-bottom: 1px solid #8c8c8c;
}

.faqcontainer_item-header {
  padding: 0.5rem 3rem 0.5rem 0;
  font-weight: 600;
  font-size:100%;
  line-height: 29px;
  cursor: pointer;
  /* identical to box height */
  color: #000000;
  position: relative;
}

.faqcontainer_item-header::after {
  content: url('../ASSETS FOLDER/dropdown.svg');
  position: absolute;
  right: 1rem;
  transition: all 0.5s ease-in-out;
}

.faqcontainer_item-header.active::after {
  transform: rotate(180deg);
}

.faq_item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faqitembody_content {
  padding: 0.5rem 0 0.5rem 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #8c8c8c;
}

.watermarks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  margin: 10% 12%;
}

.watermarks img{
  width: 20%;
  height: 20%;
  margin:0% 2%
}

.get-stocka{
  background-color:#FFCC49;
  margin: 10%;
  padding: 5% 9% 0 9%;
  border-radius: 2rem;
} 

/* contact */

.contact-section{
  margin-bottom: 60px;
}

.contact-sec{
  text-align: center;
  font-family: Inter;
  font-style: normal;
}

.contact-heading h2{
  color: #FFCC49;
  font-weight: 700;
  font-size: 28px;
}

.contact-heading h4{
  color:#212121;
  font-size: 15px;
  font-weight: 500;
}

.form{
  margin-top: 50px;
}

.form-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 20px ;
}

.first{
  font-size: 13px;
  padding: 0 10px 0;
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  background: #EFEFEF;
  margin-right: 5px;
  
}

.first::placeholder, .email::placeholder, .message::placeholder{
  padding: 20px;
  font-size: 13px;
}

.email{
  font-size: 13px;
  padding: 0 10px 0;
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  background: #EFEFEF;
  margin-left: 5px;
}

.message{
  font-size: 13px;
  padding: 0 10px 0;
  width: 615px;
  height: 150px;
  border: none;
  outline: none;
  background: #EFEFEF;
}

.form-3{
  margin-top: 20px;
}

.button{
  font-size: 12px;
  font-weight: 700;
  background: #FFCC49;
  color: #000;
  border: none;
  outline: none;
  height: 35px;
  width: 120px;
}

/* Footer */

.footer_content-body-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer_bodyitem-contents_img{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.footer_bodyitem-contents_img img{
  width: 50%;
}

.footer_bodyitem-contents h3 {
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.footer_bodyitem-contents p {
  color: #212121;
}

.ggleplayfooter2 {
  width: 50%;
  margin: 0% 0% 10% 0%;
}

.Google-Pixel-1{
  position: relative;
  right: -20px;
  bottom: 0px;
}

.Google-Pixel-2{
  position: relative;
  right: 23px;
  bottom: 0px;
} 

footer {
  background: #ffffff;
  box-shadow: 0px -1px 25px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 5% 9%;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  display: block;
  justify-content: center;
}

.footer-left p {
  color: #212121;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.media-links {
  margin-bottom: 3rem;
}

.fa-icon {
  margin: 0.5rem;
  height: 30px;
}

.footer-right p {  
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}





/* MEDIA QUERIES ==========================================================================================
-=========================================
*/
@media only screen and (min-width: 1400px) {
  
}
/* Laptop view ------------------------------------- */
@media only screen and (max-width: 1024px) {

  li a {
    font-size: 10px;
  }

  .hero {
    display: flex;
    flex-wrap: wrap;
  }

  .hero h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 0px;
  }
  
  .hero-content p {
    font-size: 0.8rem;
  }

}



 /* Tablet - view---------------------------------- */
@media only screen and (max-width: 900px) {
  
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 6rem 10rem;
  }

  .banner_info_img_1{
    width: 15rem;

  }

  .hero-img {
    width: 100%;
    height: 100%;
    margin: 20px 0px 0px;
    text-align: center;
  }

  .vector_bodybackground1 {
    width: 50%;
    height: 40%;
    top: 0;
    transform: translate(150%, 0px);
    z-index: -1;
  }
  
  .vector_bodybackground2{
    bottom: -72em;
    position: absolute;
    width: 70%;
    height: 100%;
    bottom: -78rem;
    right: 45%;
    
    /* transform: translate(45px, -45em); */
    z-index: -1; 
  }

  .scanner {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    padding: 9%;
    width: 100%;
    
  }

  .scanner .scanner-img{
    margin: 10% 0;
  }

  .form-1{
    display: block;
    margin: 0 0 20px ;
  }

  .first{
     margin-right: 0px;    
  }

  .email{
    margin-left: 0px;
    margin-top: 20px;
  }

  .message{
    width: 300px;
    height: 150px;
  }

}


/* mobile view ----------------------------- */

@media only screen and (max-width: 350px) {
  .hero-img {
    width: 100%;
    height: 100%;
    margin: 20px 0px 0px;
    text-align: center;
  }

  .hero h1 {
    font-size:200%;
    line-height: 2.3rem;
    margin-top: 0%;
  }


  .chart-sidebar .mainHeader{
    font-size: 16px;
    line-height: 26px; 
  }

.footer-left{
  text-align: center;
}
  .hamborg-btn {
    display: block  ;
    width:10%;
  }
}